{
  "firebase": "../firebase.json",
  "credential": [
    {
      "username": "USERNAME_HERE",
      "password": "PASSWORD_HERE"
    }
  ],
  "term": "2019C",
  "database": {
    "host": "localhost",
    "username": "DB_USER",
    "password": "DB_PASS",
    "db": "DB_NAME"
  }
}